.main-img {
    height: auto;
    width: 600px;
}
.silly-post {
    height: auto;
    width: 500px;
}
.footer-img {
    height: auto;
    width: 150px;
}
.ingredients {
   color: aqua; 
}
.directions {
    color: black;
}